:host {
  display: block;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

spacex-header-section,
spacex-section {
  scroll-snap-align: start;
  height: 100vh;
  box-sizing: border-box;
}


 spacex-navigation spacex-button {
  width: 100px;
  height: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

spacex-input spacex-button {
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0;
  font-size: 20px;
  font-size: normal;

}


